<!-- <ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>
 -->
<ion-content>
  <div class="ion-padding container">
    <ion-text class="ion-text-center" color="danger">
      <h2>Registrate</h2>
    </ion-text>

    <form [formGroup]="credentials" (ngSubmit)="register()">
      <ion-item lines="full">
        <ion-label position="floating">Username</ion-label>
        <ion-input type="text" formControlName="username"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-row class="ion-margin-vertical">
        <ion-col>
          <ion-button type="submit" color="danger" expand="block" [disabled]="credentials.invalid">Sign In</ion-button>
        </ion-col>
      </ion-row>
    </form>

    <div class="ion-text-center">
      <span>Si tienes una cuenta, <a routerLink="/signin">Inicia Sesión</a></span>
    </div>
  </div>

</ion-content>
